<div class="clients-container">

  <div class="card-header">
    <h3> GESTION DES CLIENTS</h3>

    <div class="header-actions">
      <!-- Recherche -->
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Rechercher...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nom, Prénom, Téléphone…">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

    </div>
  </div>


  <mat-toolbar color="primary" class="center-toolbar page-title">
    <span>LISTE DES CLIENTS</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button class="btn-red" (click)="openAddClientDialog()">
      <mat-icon>person_add</mat-icon>
      Ajouter
    </button>
    <button mat-raised-button class="btn-red" (click)="printClients()">
      <mat-icon>print</mat-icon>
      Imprimer
    </button>
  </mat-toolbar>
  <mat-card>



    <div class="table-wrapper" *ngIf="!loading; else loadingTemplate">

      <table mat-table [dataSource]="clients" class="mat-elevation-z8 full-table"
        *ngIf="clients.data.length > 0; else noDataTemplate">

        <!-- Index -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let c; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Matricule -->
        <ng-container matColumnDef="matricule">
          <th mat-header-cell *matHeaderCellDef>MATRICULE</th>
          <td mat-cell *matCellDef="let c">{{ c.matricule }}</td>
        </ng-container>

        <!-- Prénom -->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef>PRENOM</th>
          <td mat-cell *matCellDef="let c">{{ c.first_name }}</td>
        </ng-container>

        <!-- Nom -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef>NOM</th>
          <td mat-cell *matCellDef="let c">{{ c.last_name }}</td>
        </ng-container>

        <!-- Téléphone -->
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef>TELEPHONE</th>
          <td mat-cell *matCellDef="let c">{{ c.telephone }}</td>
        </ng-container>

        <!-- Adresse -->
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef>ADRESSE</th>
          <td mat-cell *matCellDef="let c">{{ c.adresse }}</td>
        </ng-container>

<!-- Status -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef>STATUS</th>
  <td mat-cell *matCellDef="let c">
    <div class="status-container">
      <mat-slide-toggle 
        [checked]="c.status" 
        (change)="toggleStatus(c, $event)" 
        color="primary">
      </mat-slide-toggle>
      <span [ngClass]="c.status ? 'active' : 'inactive'">
        {{ c.status ? 'Actif' : 'Inactif' }}
      </span>
    </div>
  </td>
</ng-container>


        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
          <td mat-cell *matCellDef="let c">
            <button mat-icon-button color="primary" (click)="openEditClientDialog(c)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Header et row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </mat-card>

  <!-- Spinner -->
  <ng-template #loadingTemplate>
    <div class="spinner-container">
      <mat-spinner [diameter]="50"></mat-spinner> <!-- plus petit -->
    </div>
  </ng-template>


  <!-- Pas de données -->
  <ng-template #noDataTemplate>
    <div class="no-data-message">
      Aucun client disponible.
    </div>
  </ng-template>

</div>