.team_section{
    background-color: white
}
.about_section{
    background-color: white;
}


.team_section .img-box {
  width: 100%;
  height: 400px;      /* tu peux ajuster */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;   /* fond si l’image ne remplit pas tout */
}


.about_section .img-box {
  width: 100%;
  max-height: 500px; /* limite la hauteur de l'image */
  overflow: hidden; /* coupe ce qui dépasse */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5; /* optionnel : fond si image plus petite */
}

.about_section .img-box img {
  width: 100%;      /* l'image prend toute la largeur du bloc */
  height: auto;     /* garde les proportions */
  object-fit: cover; /* remplissage du conteneur sans déformer */
  display: block;
}
